.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

    .searchInput {
       > :first-child {
            margin-bottom: 10px;
        }
    }
}